<!doctype html>
<html>
    <head>
        <link
            rel="icon"
            href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>🔏</text></svg>"
        />
        <meta charset="UTF-8" />
        <meta name="description" content="Generátor templatu na TZO, může za to Menčer">
        <meta name="keywords" content="TZO, tzonátor">
        <meta name="author" content="Václav Straka">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/index.css" />
        <script src="../static/index.js"></script>
    </head>
    <title>TZO-nátor 3000</title>

    <body onload="globalScan();">
        <div class="root">
            <header>
                <img alt="Tzo-nátor" src="static/imgs/TZO-nator.webp" />
            </header>
            <div class="root-tile">
                <form action="/" method="post">
                    <label for="docname">Název výkresu:</label>
                    <div class="input-container">
                        <input
                            type="text"
                            oninput="onTextInput(this);"
                            name="docname"
                            placeholder="PRŮMĚTY"
                        />
                        <span class="status_label">*</span>
                    </div>
                    <label for="username">Příjmení:</label>
                    <div class="input-container">
                        <input
                            type="text"
                            oninput="onTextInput(this);"
                            name="surname"
                            placeholder="MENČER"
                        />
                        <span class="status_label">*</span>
                    </div>
                    <label for="groupname">Název skupiny:</label>
                    <div class="input-container">
                        <input
                            type="text"
                            oninput="onTextInput(this);"
                            name="groupname"
                            placeholder="4ZS1"
                        />
                        <span class="status_label">*</span>
                    </div>
                    <label for="id">ID:</label>
                    <div class="input-container">
                        <input
                            type="text"
                            oninput="onTextInput(this);"
                            name="id"
                            placeholder="KC-69"
                        />
                        <span class="status_label">*</span>
                    </div>
                    <div class="input-container">
                        <input type="date" name="date" id="date" />
                    </div>
                    <div class="input-container">
                        <input
                            type="submit"
                            name="button"
                            value="Stáhnout"
                            class="submit_btn"
                        />
                    </div>
                </form>
                <p>{{error}}</p>
            </div>
            <footer>
                <p>
                    Vytvořil
                    <a href="https://github.com/Vesek">Vesek</a>
                    <br />
                    <a href="https://github.com/Vesek/tzonator">Kód</a>
                    otevřený pod AGPL-3
                    <br />
                </p>
                <p>Žádná data nejsou uchována</p>
            </footer>
        </div>
        <script>
            document.getElementById("date").valueAsDate = new Date();
        </script>
    </body>
</html>
