<!doctype html>
<html>
<head>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>🔏</text></svg>">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
</head>
<title>TZO-nátor 3000</title>

<body>
    <div class="bg-gradient-to-bl from-neutral-400 to-cyan-700 dark:from-neutral-900 dark:to-cyan-950 from-10% w-screen min-h-svh select-none font-medium text-neutral-800 dark:text-neutral-300">
        <div class="p-4 w-full md:w-1/2">
            <form action="/" method="post" class="flex flex-col">
                <label for="docname">Název výkresu:</label>
                <input
                    type=text oninput="this.value = this.value.toUpperCase()" name=docname placeholder="PRŮMĚTY" class="rounded my-1 bg-neutral-300 dark:bg-neutral-800 input">
                <label for="username">Příjmení:</label>
                <input
                    type=text oninput="this.value = this.value.toUpperCase()" name=surname placeholder="MENČER" class="rounded my-1 bg-neutral-300 dark:bg-neutral-800 input">
                <label for="groupname">Název skupiny:</label>
                <input
                    type=text oninput="this.value = this.value.toUpperCase()" name=groupname placeholder="4ZS1" class="rounded my-1 bg-neutral-300 dark:bg-neutral-800 input">
                <label for="id">ID:</label>
                <input
                    type=text oninput="this.value = this.value.toUpperCase()" name=id placeholder="KC-69" class="rounded my-1 bg-neutral-300 dark:bg-neutral-800 input">
                <input
                    type=date oninput="this.value = this.value.toUpperCase()" name=date id=date class="w-fit rounded my-3 bg-neutral-300 dark:bg-neutral-800 input">
                <input
                    type=submit value=Stáhnout class="bg-cyan-500 dark:bg-cyan-800 active:bg-cyan-600 dark:active:bg-cyan-900 border-2 border-neutral-700 hover:border-neutral-600 dark:border-neutral-600 dark:hover:border-neutral-700 rounded my-1 py-1 px-2 w-fit">
            </form>
            <p class="text-red-800 dark:text-red-600">{{error}}</p>
            <p class="absolute bottom-2 right-2 text-right">Vytvořil <a href="https://github.com/Vesek" class="link">Vesek</a><br/><a href="https://github.com/Vesek/tzonator" class="link">Kód</a> otevřený pod AGPL-3<br/>Žádná data nejsou uchována</p>
        </div>
    </div>
    <script>
        document.getElementById('date').valueAsDate = new Date();
    </script>
</body>

</html>
