@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face  {
        font-family: OSIfont;
        font-weight: 400;
        src: url(../fonts/osifont-lgpl3fe.ttf);
    }
}

@layer components{
    .input {
        @apply font-normal text-neutral-900 dark:text-neutral-200 placeholder:text-neutral-600 p-2 border border-neutral-600 rounded my-1 bg-neutral-300 dark:bg-neutral-800  w-full;
    }
    .error {
        @apply text-gray-700 dark:text-neutral-600 text-center;
    }
    .success {
        @apply text-cyan-700 dark:text-cyan-800 text-center;
    }
    .mark{
        @apply font-normal font-osifont text-center ml-1 mt-2 -mb-2 text-6xl;
    }
    .link{
        @apply text-cyan-900 dark:text-cyan-600;
    }
}
