/* F O N T S */
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap');

/* A P P E R A N C E */
::placeholder { /* barva placeholderu v input */
    color: #696969;
    opacity: 1; /* Firefox */
}
::-moz-selection { /* Code for Firefox */
  background: #537cb8;
  color: white;
}

::selection {
  background: #537cb8;
  color: white;
}
a{
    color: #537cb8;
    transition: color .4s;
}
a:hover{
    color: #7894BD;
    transition: color .4s;
}

/* M A I N */
* {
    margin: 0;
    padding: 0;
    font-family: "Mada", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
html {
    height: 100vh;
    background: #000000;
    box-sizing: content-box;
}
body {
    height: 100%;
    box-sizing: content-box;
.root {
    height: 100%;
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    top: 4rem;
    font-size: 2.5rem;
    text-align: center;
    margin: 3rem;
    box-sizing: border-box;
}
footer{
    color: #b0b0b0;
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: auto;
    text-align: right;
}
header img {
    height: 5rem;
}
/* R O O T  T I L E */
.root-tile {
    background: #2D2D2D;
    margin: auto auto;
    width: calc(100% - 10rem);
    box-sizing: border-box;
    padding: 2rem;
    display: inline-block;
    border-color: #000;
    border-style: solid;
    border-width: 0.2rem;
    border-radius: 1.6rem;
    color: #B0B0B0;
    max-width: 32rem;
    box-shadow: 0.4rem 0.4rem #181818;
}
.root-tile form {
    display: flex;
    flex-direction: column;
}
.root-tile label {
    font-size: 1.2rem;
    color: #b0b0b0;
}
/* I N P U T S */
.root-tile input {
    margin: 0.4rem 0;
    font-size: 1.2rem;
    background: transparent;
    color: #b0b0b0;
    border-color: #181818;
    border-style: solid;
    border-width: 0.1rem;
    padding: 0.4rem;
    border-radius: 0.2rem;
    width: 100%;
    outline: none;
    transition: border .4s;
}
.root-tile input:focus {
    border-color: #537cb8;
}
.root-tile input:hover {
    border-color: #7894BD;
    transition: border .4s;
}
.input-container {
    display: flex;
    align-items: center;
}
.error {
    color: #BA4646;
    position: relative;
    right: 1.5rem;
    width: 0;
    padding: 0;
    margin: 0;
}
.success {
    color: #2D5C35;
    position: relative;
    right: 1.5rem;
    width: 0;
    padding: 0;
    margin: 0;
}
/* B U T T O N */
.submit_btn[disabled]{
    background: #727272;
    border-color: #727272;
}
.submit_btn:not([disabled]) {
    background: #537cb8;
    color: #000;
    transition: all .4s;
}
.submit_btn:hover:not([disabled]) {
    background: #7894BD;
    color: #000000;
    transition: all .4s;
}
/* media requesty pro respocible pro ruzné device */
@media (max-width: 500px) {
    header img {
        height: 3rem;
    }
    .root-tile {
        width: calc(100% - 4rem);
    }
}

@media (max-height: 770px) {
    header{
        margin: 1.5rem;
        margin-bottom: 0;
    }
    footer{
        margin-top: 1.5rem;
    }
}
@media (max-height: 690px) {
    .root-tile input{
        font-size: 1rem;
    }
    .root-tile label{
        font-size: 1rem;
    }

}
@media (max-height: 630px) {
    .root-tile{
        padding: 1.5rem;
    }
}
@media (max-height: 610px) {
    .root-tile{
        padding: 1rem;
        border-radius: 1rem;
    }
}
@media (max-height: 590px) {
    header img {
        height: 2.5rem;
    }
    footer{
        margin-top: 1rem;
        font-size: 0.8rem;
    }
}
@media (min-width: 1800px) {

    .root-tile{
        zoom: 150%
    }
    header{
        zoom: 150%
    }
    footer{
        margin-top: 6rem;
        font-size: 2rem;
    }
}
@media (min-width: 3200px) {

    .root-tile{
        zoom: 200%
    }
    header{
        zoom: 200%
    }
    footer{
        margin-top: 10rem;
        font-size: 2.5rem;
    }
}
